<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <ion-list>

    <ion-item-sliding *ngFor="let animal of animals; let i = index">

        <ion-item (click)="play(animal)">

            <ion-avatar item-left>
              <img [src]="animal.imagen">

            </ion-avatar>

          <h2>{{ animal.nombre }}</h2>

          <ion-icon *ngIf="!animal.reproduciendo" name="play" item-right></ion-icon>
          <ion-icon *ngIf="animal.reproduciendo" name="pause" item-right></ion-icon>

        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="danger"
                  (click)="deleteItem(i)">
          <ion-icon name="trash"></ion-icon>
            Borrar
          </button>
        </ion-item-options>
    </ion-item-sliding>
    

  </ion-list>

</ion-content>
